<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title>Message Board</title>
	</head>
	<body>
		<h1>MESSAGE DETAILS</h1>
		<ul>
			<% messages.map(message => { %>
			<li><%=message.text%><span> - <%=message.user%></span></li>
			<%})%>
		</ul>
	</body>
</html>
