body {
	color: red;
	background-color: black;
}

ul {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

li {
	border: 1px solid white;
	padding: 5px;
	width: 500px;
	word-wrap: break-word;
}

a {
	color: black;
	background-color: white;
	border: 1px solid white;
	padding: 15px;
	border-radius: 10px;
}

span {
	font-style: italic;
	font-weight: 700;
}

a:hover {
	color: white;
	background-color: black;
	cursor: pointer;
}
